/* #box {
    height: 150px;
    width: 100px;
    border: 2px solid rgba(0, 0, 0, 0.868);
    background-color: brown;
    margin: 5px;
    text-align: center;
} */
 .para {
    color: red;
}
.parahgraph  {
    background-color: yellow;
}